.campo-direccion {
  margin-top: 1rem;
}

input[type="radio"] {
  accent-color: #C53678;
}

.form-buscar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.radio-viaje {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-viaje label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
