.form-publicar{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.etiqueta {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
}

.radio-viaje {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-viaje label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.campo-direccion {
  margin-top: 1rem;
}

.campo-fecha-hora {
  display: grid;
  grid-template-columns: 1fr; /* móvil: apilado si querés */
  gap: 1rem;
  width: 100%;
}

input[type="date"],
input[type="time"] {
  height: 35px;           /* alto cómodo táctil */
  font-size: 16px;        /* evita zoom de iOS */
  line-height: 44px;
}

input[type="text"]{
  font-size: 16px;
}

@media (min-width: 360px) {
  .campo-fecha-hora {
    grid-template-columns: 1fr 1fr;
    width: 95%;
  } 
}

.campo-fecha-hora > * {
  min-width: 0;
}

.campo-fecha-hora input,
.campo-fecha-hora select {
  width: 100%;
  box-sizing: border-box;
}

input[type="radio"] {
  accent-color: #C53678;
}
