.form-container {
  max-width: 320px;
  margin: 20px auto auto;
  padding: 1.5rem 2rem; /* padding vertical y horizontal igual */
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background-color: white;
}


